<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="ms-appx-web://SiemensAG.Siemensteamplay"/>
        <add name="Access-Control-Allow-Methods" value="GET,OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <!--Removes mime types so duplicate collection entry does not occur in user system -->
      <remove fileExtension=".json"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".less"/>
      <remove fileExtension=".appcache"/>
      <remove fileExtension=".clut"/>
      <!--Adds mime types-->
      <mimeMap fileExtension=".less" mimeType="text/css"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".clut" mimeType="text/plain; charset=x-user-defined"/>
    </staticContent>
    <httpCompression>
      <staticTypes>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/json; charset=utf-8"/>
      </staticTypes>
      <dynamicTypes>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/json; charset=utf-8"/>
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
</configuration>